body {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: white;
    font-family: "Droid Sans", sans-serif;
    font-size: 30px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery img {
    max-width: 100%;
    height: auto;
}

div.Home {
    position: fixed;
    padding-top: 20px;
    padding-left: 20px;
    text-decoration: none;
}

span.Home {
    background: white;
    background-position-x: 100px;
    background-position-y: 100px;
    border-radius: 30px;
}

.no {
    text-decoration: none;
    color: inherit;
}

div.fond1 {
    padding-top: 1%;
    background-position: 100%;
}

nav.haut {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid gray;
    background-color: black;
    background-attachment: fixed;
}

div.link {
    margin-left: 50%;
    margin-right: 100px;
}

div.link a {
    justify-content: center;
    text-decoration: none;
    color: white;
    padding-left: 12px;
    margin-top: 3px;
    padding-bottom: 5px;
}

div.linkbas a {
    justify-content: center;
    text-decoration: none;
    color: white;
    padding-left: 12px;
    padding-bottom: 50px;
}

div.link a:visited {
    color: gray;
}

div.home {
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 20px;
    position: fixed;
    display: block;
    background: white;
}

.button1 {
    color: white;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    background: url("../Pictures/buttunoff.png");
    transition-duration: 0.5s;
    cursor: not-allowed;
    border-color: white;
}

.button1:hover {
    color: grey;
    background: url("../Pictures/buttunon.png");
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.item:nth-child(even) {
    flex-direction: row-reverse;
}

.item img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.description {
    text-align: justify;
}

h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

p {
    margin-right: 4%;
    margin-left: 4%;
}

.gratitude-section {
    margin-top: 20px;
    font-family: 'Comic Neue', cursive;
}

.gratitude-section h2 {
    text-align: center;
    color: #dcdcdc;
}

.gratitude-section ul {
    list-style-type: none;
    padding-left: 0;
}

.gratitude-section li {
    margin-bottom: 20px;
}

.gratitude-section h3 {
    margin-top: 0;
    display: inline;
    color: #dcdcdc;
}

.gratitude-section a {
    color: #a9d9f1;
    text-decoration: none;
}

.gratitude-section a:hover {
    color: #7bc9ed;
}
